@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card{
    perspective: 1000px;
}
.flip-card-inner{
    transition: transform 0.4s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-card-front,
.flip-card-back{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
}

.flip-card-back{
    transform: rotateY(180deg);
}